@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@font-face {
  font-family: 'Sakana';
  src: url(../fonts/Sakana.ttf);
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #fff9e6;
}

/* MAIN SECTION */
.main-div {
  text-align: center;
  padding: 2rem 1rem;
  background: linear-gradient(135deg, #fff3c4, #fff9e6, #f4c542, #ffe082);
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  color: #3b2f0b;
  margin: 2rem;
}

.club-name {
  font-size: 2.2rem;
  color: #b88900;
  font-weight: 600;
}

.presents {
  font-size: 1rem;
  color: #5f4b0b;
  margin: 0.5rem 0;
  letter-spacing: 2px;
}

.tournament-title {
  font-family: 'Sakana', sans-serif;
  font-size: 2.7rem;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-shadow: 
    -1px -1px 0 #00c7ec,  
     1px -1px 0 #00c7ec,
    -1px  1px 0 #00c7ec,
     1px  1px 0 #00c7ec;
}
/* RULES SECTION */
.rules-section {
  background-color: #fffdf4;
  padding: 2rem;
  margin-top: 2rem;
  border-radius: 10px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 2px 8px rgba(184, 137, 0, 0.2);
  text-align: left;
}

.rules-section h2 {
  color: #b88900;
  border-bottom: 2px solid #f4c542;
  display: inline-block;
  padding-bottom: 0.4rem;
  margin-bottom: 1rem;
}

.rules-section ul {
  padding-left: 1.5rem;
  color: #5c4a1c;
}

.rules-section li {
  margin-bottom: 0.6rem;
  line-height: 1.6;
}
.spot-red {
  color: #FF0000;
  font-weight: bolder;
}
.rules-section ul ul {
  list-style-type: circle;
  margin-left: 1rem;
  margin-top: 0.3rem;
}
.rules-section p {
  font-style: italic;
  color: #666;
  margin-top: 0.5rem;
}

.faded-line {
  flex: 1;
  height: 5px;
  background: linear-gradient(to right, transparent, #f4c542, transparent);
}


/* RESPONSIVE */
@media (max-width: 768px) {
  .main-div {
    padding: 1.5rem 1rem;
    margin: 1rem;
  }

  .club-name {
    font-size: 1.5rem;
  }

  .tournament-title {
    font-size: 2rem;
  }

  .rules-section {
    padding: 1.5rem;
  }
}
